<EXAMPLE.COM> {
  root * /usr/share/caddy

  @websockets {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  reverse_proxy @websockets v2ray:1310/ws

  route {
    reverse_proxy /ws v2ray:1310
    file_server
  }

  log {
    output stdout
  }
}
